body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product {
  max-width: 200px;
  margin: 20px;
  margin-bottom: 50px;
  padding: 10px;
}

.catalog {
  display: flex;
}

.page_content {
  width: 75%;
  margin: auto;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.buttom {
  margin-bottom: 20px;
  margin-top: 20px;
}

.menu {
  display: grid;
}